extends layout

block content
  h1= name
  img(src='/Pictures/terry Fox me.JPG' alt='Terry fox run' class= 'pics' width= '25%')
 
  p This is my website about me. My name Yolanda Hames. I'm in my second year of school for computer programming. I am a student at Georgian College  <em>Yeah Programming!!! </em> 