extends layout

block content
  h1= name
  img(src='/Pictures/Me.JPG' alt='Me' class= 'pics' width= '25%')

  p This is my website about me. It about all things I have done or that I can do in programming.
  