extends layout
 

block content
 h1= name
 img(src='/Pictures/projects3.jpg' alt='Terry fox run' class= 'pics' width= '25%')
 p
     #table-wrapper
        table#desc
            tr
              th Yolanda hames projects
            tr
              td(height='2em') JavaScript json project
            tr
              td Net.Core porject
        table
            tr
              th Links
            tr
              td(height='2em') json 
                a(href='https://github.com/Yhames1978/Assignment-3JavaScript-') link
            tr
              td net.core
                a(href='https://github.com/Yhames1978/A1_200410745') link
            tr
