extends layout

block content
  h1= name
  img(src='/Pictures/computer.jpg' alt='Terry fox run' class= 'pics' width= '25%')
  p  Develop software  
  p  Develop websites
  p  Develop mobile applications
  p  Work on Backend of programs